# 2.7

In [53]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from scipy.stats import t

In [18]:
# import data
data = pd.read_table('CH01PR22.txt', header = None, sep = ' ')[[2, 5]]
data.columns = ['hardness', 'elapsed']
data.head()

   hardness  elapsed
0     199.0     16.0
1     205.0     16.0
2     196.0     16.0
3     200.0     16.0
4     218.0     24.0

In [61]:
# linear regression model
lm0 = LinearRegression()
lm0.fit(X = data['elapsed'].values.reshape(-1,1), y = data['hardness'])
# slope
print('slope is', lm0.coef_[0])
# intercept
print('slope is', lm0.intercept_)
# residual
residual = lm0.predict(data['elapsed'].values.reshape(-1,1)) - data['hardness'].values
# sigma
sigma = np.sqrt(sum(residual*residual)/(len(data)-2))
print('sigma is',sigma)
# sqrt(sum(x_i - x_bar)^2)
print('sqrt(sum(x_i - x_bar)^2) is', np.sqrt(sum((data['elapsed'] - np.mean(data['elapsed']))**2)))
# calculate t-statistic
print('t-statistic is', t.ppf(0.995, df = 14))

slope is 2.034375
slope is 168.60000000000002
sigma is 3.234026680692135
sqrt(sum(x_i - x_bar)^2) is 35.77708763999664
t-statistic is 2.97684273411266

# 2.63

In [65]:
CDI = pd.read_excel('CDI.xlsx')
CDI.head(1)

,id,country,state,land_area,total_population,percent_of_population18_34,percent_of_population_above_65,number_of_active_physicians,number_of_hospital_beds,total_serious_crimes,percent_high_school_grad,precent_bachelor_deg,percent_below_poverty_level,percent_unemployment,per_capita_income,total_personal_income,geographic_region
0,1,Los_Angeles,CA,4060,8863164,32.1,9.7,23677,27700,688936,70.0,22.3,11.6,8.0,20786,184230,4

In [72]:
# classify with geographic region
def cdi_ci(data, x, y):
    '''x: string; y: string; data: dataframe'''
    # linear regression model
    lm0 = LinearRegression()
    lm0.fit(X = data[x].values.reshape(-1,1), y = data[y])
    # slope
    slope = lm0.coef_[0]
    # intercept
    intercept = lm0.intercept_
    # residual
    residual = lm0.predict(data[x].values.reshape(-1,1)) - data[y].values
    # sigma
    sigma = np.sqrt(sum(residual*residual)/(len(data)-2))
    # sqrt(sum(x_i - x_bar)^2)
    s_error = np.sqrt(sum((data[x] - np.mean(data[x]))**2))
    # confidence interval
    blLow = slope - t.ppf(0.95, df = len(data)-2)*sigma/s_error
    blHigh = slope - t.ppf(0.05, df = len(data)-2)*sigma/s_error
    return blLow, blHigh

In [77]:
for i in range(1, 5):
    print('confidence interval when geographic region equals to {0}'.format(i))
    print(cdi_ci(CDI[CDI['geographic_region'] == i], 'precent_bachelor_deg', 'per_capita_income'))

confidence interval when geographic region equals to 1
(460.517703881817, 583.799961242046)
confidence interval when geographic region equals to 2
(193.48578916011115, 283.853007843554)
confidence interval when geographic region equals to 3
(285.707618101109, 375.5158331337243)
confidence interval when geographic region equals to 4
(364.75848918029646, 515.8729252228775)